input.search-box{
    border-radius: 30px;
    width: 400px;
    height: 40px;
    background-color:azure;
    text-align: center;
}

div[class=search-bar]{
    
    text-align: center;
    margin: 200px;
}
label.title-banner1
{
    text-align: center;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label.title-banner2
{
    text-align: center;
    font-size: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.adv-area
{
    min-width: 140px;
    margin: 20px 20px 0px 20px;
    display: inline-block;
    width: 60%;
}
.adv-l1
{
    display: inline-block;
}
.adv-input-label
{
    display: inline-block;
}
.input-fld
{
    min-width: 140px;
    width: 70%
}
.adv-logo
{
    width: 120px;
    float: left;
}

.button-area
{
    min-width: 167px;
    
    clear: both;
    float: right;
    width: 70%;
}
.a1
{
    clear: both;
    float:left;
}
.adv-block
{
    min-width: 167px;
    min-height: 40px;
    clear: both;
    float: left;
    width: 70%;
}
.adv-block-button
{
    min-width: 167px;
    min-height: 40px;
    clear: both;
    float: left;
    padding: 0px 50px 0px 0px;
    width: 70%;
}
.title-banner3
{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 24px;
    color: rgb(224, 60, 60);
}
.hlinks
{
    text-align: right;
    border: 1px;
    margin: 12px;
    
    
}
.hlinks a{
    color: black;
}
div[name=submit-button]
{
    text-align: right;
}
.advanced-form
{ 
     margin: 0px;
        
}
p     { display: table-row;  }
label.adv-lab { 
    
    margin: 0px 0px 0px 20px;
}
input { display: table-cell; }
label.adv-l1
{
    font-size: 12px;
    min-width: 190px;
    text-align: left;
}

input.index-submit
{
    border-radius: 10px;
    background-color: rgb(35, 48, 56);
    color: rgb(27, 102, 187); 
}
input.img-submit
{
    border-radius: 10px;
    background-color: rgb(35, 48, 56);
    color: rgb(27, 102, 187); 
}
input.advanced-submit{
    border-radius: 2px;
    border-width: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    min-height: 25px;
    background-color: rgb(59, 150, 211);
    border-color: rgb(59, 150, 211);
    color: white;
    float: right;
}
