input[type=text]{
    border-radius: 5px;
    width: 300px;
    height: 30px;
    background-color:azure;
    text-align: left;
}
div[name=search-bar]{
    
    text-align: center;
}
div[name=hlinks]
{
    text-align: right;
    border: 1px;
}
div[name=submit-button]
{
    text-align: right;
}
form  { display: table; text-align: left;     }
p     { display: table-row;  }
label { display: table-cell; }
input { display: table-cell; }
input[type=submit]{
    border-radius: 10px;
    background-color: rgb(86, 164, 216);
    color: white;
    
}